#container{
  background-color:lightseagreen;
  display:flex;
  width:100%;
  height: 100vw;
  flex-flow: column;

  /*justify-content:space-evenly;*/
/* align-items: flex-start; */
  align-content:space-around;
}

.item{
  background-color:white;
  padding:40px;
/* margin:10px;*/
  text-align:center;
  /*flex-basis: 160px;*/
  flex: 1 1 auto;

}

.item1{
  background-color:#103548;
  padding:10px;
  /*margin:10px;*/
  text-align:center;
  /*flex-basis: 160px;*/
  flex: 1 1 auto;
  color: #B925B9;
  display: flex;
  flex-flow: row;

  align-items: center;


}
.smallItem, .smallItem1, .smallItem2 {
  background-color:#e5e4e2;
  flex: 1 1 auto;
  margin:10px;
  padding: 35px 35px;
  position: inherit;

}
.smallItem, .smallItem1, .smallItem2 {
  border: none;
  color: #051313;
  transition: 0.3s;
}

.smallItem:hover, .smallItem1:hover, .smallItem2:hover {
  background-color:#8BE5AD;
  color: white;
}
/*.order {
  order: 1;
}*/

.item h1{
  font-family: 'Montserrat', sans-serif;
  color: #051313;
  padding-bottom: 20px;
}
.item h2 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #051313;
}
.item h3 {
  color: #051313;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;

}

.item1 p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #333652;
  line-height: 40px;
  word-spacing: 10px;

}

ul {
  padding-top: 30px;
  color: #051313;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  list-style: none;

  line-height: 2;
  word-spacing: 10px;
}

ul.socialIcons {
  padding: 0;
  text-align: center;
}

.socialIcons li {
  background-color: #8BE5AD;
  list-style: none;
  display: inline-block;
  margin: 4px;
  border-radius: 2em;
  overflow: hidden;

}

.socialIcons li a {
  display: block;
  padding: 0.8em;
  min-width: 2.3em;
  max-width: 2em;
  height: 2em;
  white-space: nowrap;
  line-height: 0.2em; /*it's working only when you write text with icon*/
  transition: 0.5s;
  text-decoration: none;
  font-family: 'Staatliches', cursive;
  color: #103548;
}

.socialIcons li i {
  margin-right: 0.1em;
}

.socialIcons li:hover a {
  max-width: 300px;
  padding-left: 1em;
/*  padding-right: 1em;*/
}

.image1, .image2, .image3 {
  display: inline-block;
  padding-left: 100px;

}
